name: OpenAlex Daily

on:
  schedule:
    - cron: "0 1 * * *"   # 每天 09:00 中国时间
  workflow_dispatch:

jobs:
  openalex_daily:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run OpenAlex Daily
        env:
          ZOTERO_ID: ${{ secrets.ZOTERO_ID }}
          ZOTERO_KEY: ${{ secrets.ZOTERO_KEY }}
          SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
          SMTP_PORT: ${{ secrets.SMTP_PORT }}
          SENDER: ${{ secrets.SENDER }}
          SENDER_PASSWORD: ${{ secrets.SENDER_PASSWORD }}
          RECEIVER: ${{ secrets.RECEIVER }}
          MAX_PAPER_NUM: ${{ vars.MAX_PAPER_NUM }}
          USE_LLM_API: ${{ vars.USE_LLM_API }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_API_BASE: ${{ vars.OPENAI_API_BASE }}
          MODEL_NAME: ${{ vars.MODEL_NAME }}

          OPENALEX_SINCE_DAYS: 1
          OPENALEX_JOURNALS: |
            Journal of the American Ceramic Society
            Journal of the European Ceramic Society
            Journal of the American Chemical Society
            Advanced Materials
            Nature
            Science

        run: |
          python src/openalex_daily.py
